[Unit]
Description=Avocado Control Daemon (Varlink)
Requires=avocadoctl.socket
After=avocadoctl.socket
Before=avocado-extension.service avocado-extension-initrd.service

[Service]
Type=simple
ExecStart=/usr/bin/avocadoctl serve
ProtectHome=yes
ProtectSystem=full
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
