[Unit]
Description=Avocado Control Daemon (Varlink)
DefaultDependencies=no
Requires=avocadoctl.socket
After=local-fs.target avocadoctl.socket

[Service]
Type=simple
ExecStart=/usr/bin/avocadoctl serve
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
